lib*.a
**/*.o
signus/src/signus
signus/autom4te.cache
signus-data/utils/mk_rgb2pal
signus-data/utils/makedat
signus-data/utils/fntmng
signus-data/autom4te.cache

**/graphics/*_rgb.tab
**/graphics*.dat
**/texts.dat
**/missions.dat

signus-data/data/version-data
signus/config.h

Makefile
Makefile.in
configure
config.log
config.status
aclocal.m4
**/admin/compile
.deps
.dirstamp
stamp-h1
